html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: #262d3c;
  color: #e8bd74;
  font-family: 'Julius Sans One', 'sans-serif';
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #e8bd74;
  font-family: 'Julius Sans One', 'sans-serif';
}
.navbar {
  color: #262d3c;
  font-family: 'Julius Sans One', 'sans-serif';
  padding: 5px, 0px;
  margin: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: #e8bd74;
  background-color: transparent;
  font-family: 'Julius Sans One', 'sans-serif';
  font-size: 1.25rem;
}
a:hover {
  color: #ae8842;
  text-decoration: underline;
}
header img {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  filter: brightness(0.5);
}

@media screen and (max-width: 700px) {
  .work-link .fas {
    display: none;
  }
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Julius Sans One', 'sans-serif';
}

.work-link {
  text-align: center;
}
.work-link .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  justify-content: center;
  margin-left: 0px;
}
.work-link p {
  text-align: center;
  color: #e8bd74;
}
#about_me {
  font-size: 1.25rem;
}

.myWork {
  padding: 1em 0;
  float: right;
  width: 50%;
}

.myWork .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 300px;
  max-height: 90%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #e8bd74;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #e8bd74;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding-top: 15px;
}

.footer {
  color: #e8bd74;
  padding: 10px;
  text-align: center;
}

#success-message {
  opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 20% 0 20%;
}

.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Julius Sans One', 'sans-serif';
}

.form-group .form-control {
  --webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius: 0;
  border-color: #000;
}

.form-group .form-control:focus {
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;
}

textarea {
  resize: none;
}

.btn-mod.btn-large {
  height: auto;
  padding: 13px 52px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: #e8bd74;
  border: 1px solid #e8bd74;
  background: transparent;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
  color: #262d3c;
  border-color: #ae8842;
  background: #ae8842;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }
}

.skill-card {
  padding: 12px 17px;
  border-radius: 10px;
  text-align: center;
}
.skills-flex {
  justify-content: space-evenly;
  font-size: 20px;
  display: flex;
}
@media screen and (max-width: 700px) {
  .skills-flex {
    flex-direction: column;
    transition: ease-in-out 0.4s;
  }
}
.skill-card,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: xxx-large;
}

section {
  padding: 50px 0;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}
